
#nav-text{
    text-align: center;
    font-size: 40px;
    color: rgb(248, 169, 79);
    margin-left: 38%;
    margin-bottom: -4px;
    margin-top: -7px;
}
#formBox{
    width: 70%;
    height: 620px;
    background-color: rgba(0,0,0, 0.8);
    margin: 0 auto; 
    margin-top: 10px;

}
#name-form{
    color: white;
    margin-left: 47%;
    margin-top: 40px;
}
#budget-form{
    color:white;
    margin-left: 47%;

 } 
#time-form{
    color:white;
    margin-left: 44%;
}
#age-form{
    color:white;
    margin-left: 48%;
}
#location-form{
    color:white;
    margin-left: 47%;
}
#name-input{
    width: 200px;
    margin: 0 auto;
}
#budget-input{
    width: 200px;
    margin: 0 auto;
}
#time-input{
    width: 200px;
    margin: 0 auto;
}
#age-input{
    width: 200px;
    margin: 0 auto;
}
#location-input{
    width: 200px;
    margin: 0 auto;
}
#submit-button{
    margin: 0 auto;
    margin-left: 47%;
}
#iText{
    color:white;
    
}
#interest-list{
color:white;
}
#mapContainer{
    width: 200px;
    height: 200px;
}
