
#nav-text{
    text-align: center;
    font-size: 40px;
    color: rgb(248, 169, 79);
    margin: 0 auto;
    margin-bottom: -4px;
    margin-top: -7px;
}
#formBox{
    width: 70%;
    height: 620px;
    background-color: rgba(0,0,0, 0.8);
    margin: 0 auto; 
    margin-top: 10px;

}
#interest-form{
    color: white;
     /* margin-left: 47%; */
    margin-top: 40px;
    position: relative;
    left: 45%;
    right: 45%;
    
}
#budget-form{
    color:white;
    position: relative;
    left: 44%;
    right: 45%;

 } 
#time-form{
    color:white;
    position: relative;
    left: 41%;
    right: 45%;
}
#age-form{
    color:white;
    position: relative;
    left: 45%;
    right: 45%;
}
#location-form{
    color:white;
    position: relative;
    left: 45%;
    right: 45%;
}
#interest-input{
    width: 200px;
    margin: 0 auto;
}
#budget-input{
    width: 200px;
    margin: 0 auto;
}
#time-input{
    width: 200px;
    margin: 0 auto;
}
#age-input{
    width: 200px;
    margin: 0 auto;
}
#location-input{
    width: 200px;
    margin: 0 auto;
}
#submit-button{
    background-color:rgb(247, 139, 17);
    color:white;
    width: 200px;
    margin: 0 auto;
}
#iText{
    color:white;
    
}
#interest-list{
color:white;
}
#mapContainer{
    width: 200px;
    height: 200px;
}
.city{
color: rgb(248, 169, 79);
font-size: 20px;
}
.weather{
color:white;
}
.temp{
color: white;
}
.carousel-item{
background: no-repeat center center scroll;
}
#img1{
    width:100%;
    background-position: inherit;
}
#img2{
    width:100%;
    background-position: inherit;
}
#img3{
    width:100%;
    background-position: inherit;
}
#return-button{
    position: relative;
    left: 45%;
    right: 45%;
    bottom: 5%;
    margin-bottom: 20px;
}